@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');


li {font-size: 12px;}

.navbar {
  background-color:red;
  border-color:black;
}

.navbar-inverse {
  font-family: 'Zen Loop', cursive;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.navbar-brand {
  color: #00998c !important;
  font-size: 5rem;
}
body {
  background-color: #ded98e;
}
.chart-title {
  background-color: #fff;
  color: #00998c;
  font-size: 3rem;
}
.chart-stage {
  background-color: #f5fffe;
}

